.modal--title {
  text-align: center;
  font-size: $SecondaryHeader;
}

.modal__img--container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  & a {
    display: flex;
    justify-content: center;
    & .modal--img {
      width: 90%;
      height: 250px;
      border-radius: 20px;
      object-fit: cover; 
    }
  }
}

.modal--title, .modal--description {
  color: rgb(238, 238, 238);
  background-color: #0009;
  padding: 5px;
  letter-spacing: 4px;
}

.description {
  width: 100%;
  font-size: $Paragraph;
  padding: 5px;
  background-color: rgb(238, 238, 238);
  color: $MainGray;
}

.modal--tools {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: rgb(238, 238, 238);
  color: $MainGray;
  & > * {
    margin: 0 5px;
  }
}

.modal--button {
  width: 80px;
  height: 40px;
  padding: 8px;
  margin: 0 5px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: $MainWhite;
  font-weight: 700;
  cursor: pointer;
  background-color: #ffaa00;
  color: $MainWhite;
  text-shadow:1px 0px 16px #2f6627;
  letter-spacing: 2px;
}

.name--Batatacoin{ 
  color: #ff9100;
}

.name--RickAndMortyPedia {
  color:rgb(71, 199, 199) ;
}

.name--Petgram {
  background: -webkit-linear-gradient(rgb(255, 64, 255), rgb(164, 94, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}