/*
STYLE GUIDE
1. Positioning
2. Background and Border
2. Font and Color
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  color: #fff;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: 0 auto 20px;
}

.main__conocimientos .container {
  margin: 0 auto 150px;
}

.heading__lvl--two {
  font-size: 2rem;
}

.header, .main__contacto {
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.main__conocimientos .footer {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

canvas {
  inset: auto;
  pointer-events: none !important;
  z-index: initial  !important;
  display: none !important;
}

/* Media Queries Mixin
**********************/
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  font-family: "Open-sans", sans-serif;
}

.header #burger-button {
  position: fixed;
  z-index: 7;
  right: 4%;
  padding: 8px;
  background-color: rgba(32, 32, 32, 0.8);
  border-radius: 50%;
  font-size: 1.5rem;
}

.header__nav--list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  right: -100vw;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
}

.header__nav--list li {
  min-height: 15px;
  margin-bottom: 80px;
  border-bottom: 2px solid #fff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.header__nav--list li a {
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 5px #2c2c2c;
  line-height: 20px;
  font-size: 1.4rem;
}

.header__nav--list li:hover {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  border-bottom: none;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.header__nav--list.is-active {
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 6;
}

@media only screen and (min-width: 1200px) {
  .header #burger-button {
    display: none;
  }
  .header__nav--list {
    position: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: none;
  }
  .header__nav--list li {
    margin-bottom: 0;
  }
}

.header__nav--list .is-active {
  right: 0;
}

.main__banner {
  padding: 10px;
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.main__banner--presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main__banner--presentation .img--wrapper {
  top: 4px;
  position: relative;
  width: 152px;
  height: 152px;
  margin-bottom: 25px;
  border-radius: 100px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow: hidden;
}

.main__banner--presentation .img--wrapper img {
  position: absolute;
  left: -26%;
  top: -8%;
  width: 155px;
  height: 200px;
  -webkit-transform: translate(25%, -5%);
          transform: translate(25%, -5%);
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.main__banner--presentation .img--circle {
  position: absolute;
  top: 0;
  width: 160px;
  height: 160px;
  background: #4b6cb7;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#182848), to(#4b6cb7));
  background: linear-gradient(to right, #182848, #4b6cb7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 50%;
  border: 5px solid #a9a9a9;
  border-top-color: #a9d161;
  z-index: 1;
}

.main__banner--presentation h1, .main__banner--presentation h2 {
  font-family: "Open-sans", sans-serif;
  text-shadow: 2px 2px 5px #000000;
  margin-bottom: 15px;
}

.main__banner--presentation h1 {
  width: 150px;
  font-size: 2.4rem;
  margin-bottom: 10px;
  text-align: center;
}

.main__banner--presentation h2 {
  font-size: 2rem;
}

.main__banner--cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  min-width: 130px;
  height: 40px;
  color: #e5e5e5;
  text-shadow: 2px 2px 3px #000000;
  padding: 8px 13px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #212529;
}

.main__banner--cv:hover svg {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media only screen and (min-width: 768px) {
  .main__banner--presentation {
    max-width: 800px;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main__conocimientos {
  padding: 20px;
  color: #333;
  position: relative;
}

.main__conocimientos h2 {
  margin-bottom: 45px;
}

.main__conocimientos .conocimientos {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.6rem;
}

.main__conocimientos .conocimientos ul {
  list-style: none;
}

.main__conocimientos .conocimientos .conocimientos--html {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.main__conocimientos .conocimientos .conocimientos--css {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.main__conocimientos .conocimientos .conocimientos--git {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.main__conocimientos .conocimientos .conocimientos--js {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.main__conocimientos .conocimientos .conocimientos--html ul,
.main__conocimientos .conocimientos .conocimientos--css ul,
.main__conocimientos .conocimientos .conocimientos--git ul,
.main__conocimientos .conocimientos .conocimientos--js ul {
  margin: 10px auto 0;
}

.main__conocimientos .conocimientos .icon-config {
  width: 100%;
  text-align: left;
  font-size: 3.5rem;
  margin-bottom: 30px;
}

.main__conocimientos .orange--wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.plans {
  width: 100%;
  padding: 20px 0 40px 0;
  min-width: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231C1B17' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23333333'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.plans .heading__lvl--two {
  margin: 50px;
}

.plans__container {
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 1200px) {
  .plans__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
}

.plans__container::-webkit-scrollbar {
  height: 8px;
  margin: 10px;
}

.plans__container::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

.plans__container::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 4px;
}

.plans--description {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 250px;
  margin: 20px 4.5%;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px #333;
          box-shadow: 2px 2px 10px #333;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.plans--description img {
  min-width: 325px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.plans--description .card--info {
  opacity: 0;
  width: 400px;
  height: inherit;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background-color: #333333b9;
  font-size: 3rem;
}

.plans--description .card--info h2 {
  margin-bottom: 15px;
}

.plans--description .card--info .card--tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.plans--description .card--info .card--tools > div {
  margin: 0 14px;
}

.plans--description .card--info .card--goto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plans--description .card--info .card--goto > a {
  margin: 0 4px;
}

.plans--description .card--info .card--goto .card--site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 80px;
  color: #cccccc;
  font-size: 1.6rem;
  border-radius: 20px;
  background-color: #181717;
}

.plans--description .card--info .card--goto .card--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 150px;
  color: #cccccc;
  font-size: 1.6rem;
  border-radius: 20px;
  background-color: #181717;
}

.plans--description:hover .card--info {
  opacity: 1;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.modal--title {
  text-align: center;
  font-size: 2rem;
}

.modal__img--container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__img--container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__img--container a .modal--img {
  width: 90%;
  height: 250px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal--title, .modal--description {
  color: #eeeeee;
  background-color: #0009;
  padding: 5px;
  letter-spacing: 4px;
}

.description {
  width: 100%;
  font-size: 1.6rem;
  padding: 5px;
  background-color: #eeeeee;
  color: #333;
}

.modal--tools {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  background-color: #eeeeee;
  color: #333;
}

.modal--tools > * {
  margin: 0 5px;
}

.modal--button {
  width: 80px;
  height: 40px;
  padding: 8px;
  margin: 0 5px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  font-weight: 700;
  cursor: pointer;
  background-color: #ffaa00;
  color: #fff;
  text-shadow: 1px 0px 16px #2f6627;
  letter-spacing: 2px;
}

.name--Batatacoin {
  color: #ff9100;
}

.name--RickAndMortyPedia {
  color: #47c7c7;
}

.name--Petgram {
  background: -webkit-linear-gradient(#ff40ff, #a45eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__contacto {
  padding: 20px 0;
}

.main__contacto h2 {
  margin-bottom: 10px;
  text-align: right;
  color: #333;
}

.main__contacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
}

.main__contacto form label,
.main__contacto form input {
  margin: 10px 0;
}

.main__contacto form input,
.main__contacto form textarea {
  border: none;
  outline: none;
  padding: 5px 0px 5px 10px;
}

.main__contacto form #submit {
  width: 100px;
  padding: 10px 0;
}

.main__contacto #fs-frm input,
.main__contacto #fs-frm select,
.main__contacto #fs-frm textarea,
.main__contacto #fs-frm fieldset,
.main__contacto #fs-frm optgroup,
.main__contacto #fs-frm label,
.main__contacto #fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: #333;
  border: none;
  border-radius: 10px;
  resize: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.main__contacto #fs-frm label,
.main__contacto #fs-frm legend,
.main__contacto #fs-frm ::-webkit-input-placeholder {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
}

.main__contacto #fs-frm label,
.main__contacto #fs-frm legend,
.main__contacto #fs-frm :-ms-input-placeholder {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.main__contacto #fs-frm label,
.main__contacto #fs-frm legend,
.main__contacto #fs-frm ::-ms-input-placeholder {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.main__contacto #fs-frm label,
.main__contacto #fs-frm legend,
.main__contacto #fs-frm ::placeholder {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media only screen and (min-width: 1200px) {
  .main__contacto #fs-frm label,
  .main__contacto #fs-frm legend,
  .main__contacto #fs-frm ::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  .main__contacto #fs-frm label,
  .main__contacto #fs-frm legend,
  .main__contacto #fs-frm :-ms-input-placeholder {
    font-size: 1.6rem;
  }
  .main__contacto #fs-frm label,
  .main__contacto #fs-frm legend,
  .main__contacto #fs-frm ::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  .main__contacto #fs-frm label,
  .main__contacto #fs-frm legend,
  .main__contacto #fs-frm ::placeholder {
    font-size: 1.6rem;
  }
}

.main__contacto #fs-frm label {
  text-transform: uppercase;
  font-weight: 700;
}

.main__contacto #fs-frm input,
.main__contacto #fs-frm select,
.main__contacto #fs-frm textarea,
.main__contacto #fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 18px;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.main__contacto #fs-frm input:focus,
.main__contacto #fs-frm select:focus,
.main__contacto #fs-frm textarea:focus {
  background-color: #fff;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

.main__contacto #fs-frm [type=text],
.main__contacto #fs-frm [type=email] {
  width: 100%;
}

.main__contacto #fs-frm [type=button],
.main__contacto #fs-frm [type=submit],
.main__contacto #fs-frm [type=reset] {
  color: #cccccc;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 8px;
  background-color: #181717;
  margin: 0 auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.main__contacto #fs-frm [type=button]:focus,
.main__contacto #fs-frm [type=submit]:focus,
.main__contacto #fs-frm [type=reset]:focus {
  outline: none;
}

.main__contacto #fs-frm [type=submit],
.main__contacto #fs-frm [type=reset] {
  margin-bottom: 0;
}

.main__contacto #fs-frm select {
  text-transform: none;
}

.main__contacto #fs-frm [type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

.main__contacto #fs-frm [type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

.main__contacto #fs-frm fieldset.locale input[name=city],
.main__contacto #fs-frm fieldset.locale select[name=state],
.main__contacto #fs-frm fieldset.locale input[name=postal-code] {
  display: inline;
}

.main__contacto #fs-frm fieldset.locale input[name=city] {
  width: 52%;
}

.main__contacto #fs-frm fieldset.locale select[name=state],
.main__contacto #fs-frm fieldset.locale input[name=postal-code] {
  width: 20%;
}

.main__contacto #fs-frm fieldset.locale input[name=city],
.main__contacto #fs-frm fieldset.locale select[name=state] {
  margin-right: 3%;
}

.footer {
  padding: 20px 20px;
}

.footer h3 {
  color: #333;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 25px;
  font-size: 1.8rem;
}

.footer .social--media {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 3rem;
  list-style: none;
  padding: 0;
}

.footer .social--media li a {
  text-decoration: none;
  color: #181717;
}

.footer .social--media li a i {
  margin-right: 5px;
  font-size: 4rem;
}

.footer .social--media li a span {
  font-size: 1.6rem;
  vertical-align: middle;
}

.lds-ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #333;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */